<% provide :title, @product.name %>
<div class="main-wrapper">
  <%= render 'shared/light_section', name: @product.name %>

  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left productSlider">
              <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% @product.images.each_with_index do |image, i| %>
                    <div class="item <%= "active" if i.zero? %>" data-thumb="<%= i %>">
                      <%= image_tag(image.attachment(:large), :alt => @product.name) %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="clearfix">
                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                    <% @product.images.each_with_index do |image, i| %>
                      <div class="thumb <%= "active" if i.zero? %>" data-slide-to="<%= i %>" data-target="#carousel">
                        <%= image_tag(image.attachment(:large), :alt => @product.name) %>
                      </div>
                    <% end %>
                  </div>
                  <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="media-body">
              <ul class="list-inline">
                <li>
                  <%= link_to potepan_category_path(@product.taxons.ids.first) do %>
                    <i class="fa fa-reply" aria-hidden="true">
                    </i>一覧ページへ戻る
                  <% end %>
                </li>
              </ul>
              <h2><%= @product.name %></h2>
              <h3><%= @product.display_price %></h3>
              <p><%= @product.description %></p>
              <%= render 'shared/media_parts' %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'related_products', related_products: @related_products %>
    </div>
  </section>
</div>
