<!-- LIGHT SECTION -->
<section class="lightSection clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="owl-carousel partnersLogoSlider">
          <% files = Dir::entries("app/assets/images/home/partners/") %>
          <% files.each do |file| %>
            <% next if file == '.' or file == '..' %>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("home/partners/#{file}", :alt => "partner-img") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>